* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.carousel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    user-select: none;
}

.slide{
    border-radius: 0.5rem;
    box-shadow: 0 0 7px #666;
    width: 100%;
    height: 100%;
}

.slide-arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: -1rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #555);
    z-index: 1; /* Ensure arrows are above slides */
    cursor: pointer;
}

.slide-arrow:hover{
    color: rgb(179, 176, 176);
}

.slide-arrow-left{
    left: 1rem;
}
.slide-arrow-right{
    right: 1rem;
}

.indicators{
    display: flex;
    position: absolute;
    bottom: -1rem;
}

.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: solid 1px black;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px #555;
}

.slide-hidden{
    display: none;
}

.indicator-inactive{
    background-color: #808080;
}