@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Baloo+Bhai+2&family=Bowlby+One&family=Chango&family=Work+Sans:wght@600&display=swap');

:root{
    /* #A4AC86 */
    --background: #26211D;
    --yellow: #E2F89C;
    
    --jade: #A4AC86;
}

.container {
    background-color: var(--background);
    height: 100vh;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.nav {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    
}

.nav-item {
    display: flex;
    font-size: clamp(10px, 9vw, 10rem);
    justify-content: center;
    perspective: 2em;
    transform-origin: right center;
    transform-style: preserve-3d;
    animation: blur-in 4s;
}

.nav-link{
    color: var(--yellow);
    font-family: "Bowlby One", sans-serif;
    transition: 500ms ease;
    text-decoration: none;
    transform: rotateY(-10deg) rotateX(-5deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.nav-link:hover{
    transform: rotateY(5deg);
    transform-origin: right;
    color: #26211D;
}


@keyframes appear-up {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.card {
    height: 75vh;
    width: 80%;
    animation: appear-up 5s;
    justify-self: end;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--jade);
    border-radius: 1rem;
    padding: 1rem 3rem;
    position: relative;
}

.card-image{
    background-image: url("../images/orionwithtcard.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: blue;
    background-position: center;
    width: 100%;
    height: 100%;
    border: solid 2px black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin-top: 0.5em;
    padding: 1.5em 0em;
}
.scroller{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-text { 
    font-family: "Work Sans", sans-serif;
    font-size: 0.25em;
    padding: 1em 2em 3em;
    color: black;
}

.name {
    font-family:"Bak Bak One", sans-serif;
    font-size: 4vw;
    font-weight: 900;
    justify-self: end;
    
}

.arrow{
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right 0;
    height: 45px;
    width: 100%;

}
@keyframes blur-in{
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }
    50% {
        opacity: 0.25;
        filter: blur(0.1rem);
    }

    75% {
        opacity: 1;
        filter: blur(0);
    }
}
.subtitle {
    font-size: 3vmin;
    font-family: "Baloo Bhai 2", sans-serif;
}