@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Baloo+Bhai+2&family=Bowlby+One&family=Chango&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    /* #A4AC86 */
    --background: #26211D;
    --yellow: #DFFF78;
    --jade: #A4AC86;
}

.container {
    background-color: var(--background);
    height: 100vh;
    transition: 1s ease-out;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 90%;
}
.nav {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nav-item {
    display: flex;
    font-size: clamp(10px, 8vw, 10rem);
    justify-content: center;
    perspective: 2em;
    transform-origin: right center;
    transform-style: preserve-3d;
    
}

.nav-link{
    color: var(--yellow);
    font-family: "Bowlby One", sans-serif;
    transition: 500ms ease;
    text-decoration: none;
    transform: rotateY(-10deg) rotateX(-5deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.nav-link:hover{
    transform: rotateY(5deg);
    transform-origin: right;
    color: #26211D;
}


@keyframes appear-up {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.appear {
    animation: appear-up 5s;
}


.card {
    height: 75vh;
    width: 80%;
    justify-self: end;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--jade);
    border-radius: 1rem;
    padding: 1rem 3rem;
    position: relative;
}
.card-front{
    border-radius: 1rem;
    backface-visibility: hidden;
    background-color: var(--jade);
}

.card-back{
    border-radius: 1rem;
    backface-visibility: hidden;
    background-color: white;
    transform: rotateY(180deg);
}


.name {
    font-family:"Bak Bak One", sans-serif;
    font-size: 4vw;
    font-weight: 900;
    justify-self: end;
    
}

.arrow{
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right 0;
    height: 45px;
    width: 100%;

}
@keyframes blur-in{
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }
    50% {
        opacity: 0.25;
        filter: blur(0.1rem);
    }

    75% {
        opacity: 1;
        filter: blur(0);
    }
}

.blurred {
    animation: blur-in 4s;
}
.subtitle {
    font-size: 3vmin;
    font-family: "Baloo Bhai 2", sans-serif;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  h1 {
    font-size: 4vw;
    font-weight: 400;
    font-family: "Alfa Slab One", sans-serif;
  }