.notes-container{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-animation: backgroundTransition 2s;
    animation: backgroundTransition 2s;
}

@keyframes backgroundTransition {
    0% {background-color: #26211D}
    20% {background-color: #26211D}
    100% {background-color: white}
}


.text-panel{
    width: 75%;
    display: flex;
    position: relative;
    border: 1px solid black;

}

.gazette {
    padding: 5px 10px;
    border-right: dashed 3px black;
    font-weight: 700;
    font-size: 3vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gazette-p2 {
    width: 100%;
    font-size: 2vw;
    font-weight: 700;
    margin: auto;
    margin-left: 1vw;
    text-align: center;
}

.overview-container{
    display: flex;
    width: 70%;
    position: relative;
    border: solid 1px black;
    margin-bottom: 2rem;
}

.note-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    gap:2rem 0;
    padding: 0 1rem;
}

.grid-content{
    margin-top: auto;
    margin-bottom: auto;
}

.note-title{
    font-size: 4vw;
    font-weight: 400;
    font-family: "Alfa Slab One", sans-serif;
    overflow-wrap: break-word;
}

.article{
    grid-column-start: 2;
}

