iframe{
    width: 100%;
    height: 500px;
    border: none;
    background-color: red;
}

.board{
    width: 60%;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 100%;
    margin: auto;
}