:root{
    /* #A4AC86 */
    --background: #26211D;
    --yellow: #DFFF78;
    --jade: #A4AC86;
}

.other-container {
    background-color: var(--background);
    min-height: 100vh;
    padding: 2rem 10vw;
}

.other-header{
    color: #e7d8c9;
    padding-top: 1rem;
    font-size: 5rem;
    border-bottom: solid 0.5rem #e7d8c9;
}

.other-ul{
    padding: 2rem 0px;
    list-style-type: circle;
}

.other-link{
    float: left;
    font-size: 5vmin;
    font-weight: 700;
    color: white;
  }
.other-link:hover{
    color: yellow;
}
.appear-fast{
    animation: appear-up 3s;
}

.blurred-fast{
    animation: blur-in 3s;
}