
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
.project-container{
    height: 90%;
    overflow-y: scroll;
    border: 1px solid white;
    background-color: var(--background);
}

.project-overview{
    font-family: "Consolas"
}
.header-label{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 3vmin;
}


.project-container section{
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px 2rem;
    font-family: "PT Sans", sans-serif;
    font-size: 0.8rem;
    color: white;
}

.project-container a{
    color: white;
}



.gallery{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.project-container::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
.project-container::-webkit-scrollbar-thumb {
    background: #e1e8f2; 
    border-radius: 10px;
}
.project-container::-webkit-scrollbar{
    scrollbar-width: thin;
    width: 0.25rem;
    position: relative;
}


@media screen and (max-width: 1000px){
    .project-container{
        height: auto;
        overflow: unset; 
    }
}

@media screen and (min-width: 1500px){
    .project-container section {
        font-size: 2vmin;
    }
}

@media screen and (max-width: 430px){
    .project-container section{
        padding: 10px 5px !important;
    }
}