
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.project-container{
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.header-label{
    font-family: "Chivo", sans-serif;
    font-size: 1vw;
}


section{
    white-space: pre-wrap;
    padding: 10px 2rem;
    font-family: "PT Sans", sans-serif;
    font-size: 0.8rem;
    color: white;
}


.gallery{
    display: flex;
    width: 100%;
    justify-content: center;
}

::-webkit-scrollbar{
    width: 0rem;
}

