@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

.work-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.work-hero {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: appear-up 3s;
}

.cuphead-walk{
    height: 200px;
    width: 400px;
}
.cuphead{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
}
.cuphead:hover{
    opacity: 0.5;
}

.work-title{
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15vmin;
    color: yellow;

}

.work-subtitle{
    color: white;
    font-size: 3vmin;

}
.project{
    border: solid;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Courier New', monospace;
    cursor: pointer;
}
.project-inactive{
    color: white;
    background-color: black;
    border-color: white;
}
.project-active{
    color: black;
    background-color: white;
    border-color: black;
}


@media screen and (max-width: 1000px){
    .work-wrapper{
        min-height: 100vh;
        display: flex;
        background-color: var(--background);
        justify-content: center;
        align-items: center;
        
    }
    .work-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 1rem;
        padding: 1rem 0;
        height: unset;
        min-height: 100%;
    }
    .cuphead{
        position: relative;
        left: unset;
    }
}