@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
.work-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.work-hero {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cuphead{
    height: 200px;
    width: 400px;
}

.work-title{
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15vmin;
    color: yellow;
}

.work-subtitle{
    color: white;
    font-size: 3vmin;
}
.project{
    border: solid;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Courier New', monospace;
    cursor: pointer;
}
.project-inactive{
    color: white;
    background-color: black;
    border-color: white;
}
.project-active{
    color: black;
    background-color: white;
    border-color: black;
}

.page{
    overflow-y: scroll;
    width: 75%;
}